@{
    ViewBag.Title = "TestingPlanList";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/default/easyui.css")'/>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/icon.css")'/>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/demo.css")'/>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/uploader/uploadify.css")' />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/Validform/style.css")'  />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/Validform/style.css")'  />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/XINDECSS/MainStyle.css")'/>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-1.8.2.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/jquery.easyui.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/locale/easyui-lang-zh_CN.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/jquery.uploadify.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/swfobject.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftMvcAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Validform/Validform_v5.3.2_min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")'></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dgtable').datagrid({
                url: "/TestingPlan/GetList?pageNumber=1&pageSize=8",
                pagination: true, //分页控件  
                singleSelect: true, //是否单选
                rownumbers: true,
                columns: [[
//                    { field: 'TestID', title: '编号', align: 'center' },
                    { field: 'PlanName', title: '计划名称', align: 'center' },
                    { field: 'Version', title: '版本', align: 'center' },
                    { field: 'ControlledNum', title: '受控号', align: 'center' },
                    { field: 'Department', title: '编制单位', align: 'center' },
                    { field: 'WeavePersonnel', title: '编制者', align: 'center' },
                    { field: 'WeaveTime', title: '编制日期', align: 'center' },
                    { field: 'FilePath', title: '计划详情', align: 'center' },
                    { field: 'Remark', title: '备注', align: 'center' },
                    {
                        field: 'Edit', title: '编辑', align: 'center',
                        formatter: function (value, row, index) {
                            return "@if (Convert.ToBoolean(ViewData["041c14b8"]))
                            {<a href='javascript:void(0)' onclick='Edit(" + row.TestID + ")' ><img width='18px' height='18' alt='修改' src='/Content/Images/xiugai.png' /></a>}";
                        }
                    },
                    {
                        field: 'View', title: '文档预览', align: 'center',
                        formatter: function (value, row, index) {
                            return row.FilePath != "" ? "<a href='javascript:void(0)' onclick=\"click_ViewOffice(" + row.TestID + ")\"><img width='18px' height='18' alt='阅览' src='/Content/Images/xiazai.png' /></a>" : "";
                        }
                    },
                    {
                        field: 'Delete', title: '删除', align: 'center',
                        formatter: function (value, row, index) {
                            var linkstr = "@if (Convert.ToBoolean(ViewData["812464b2"]))
                            {<a href=\"javascript:void(0)\" onclick=\"Delete(" + row.TestID + ")\" ><img width='18px' height='18' alt=\"删除\" src=\"/Content/Images/shanchu.png\" /></a>}";
                            return linkstr;
                        }
                    }
                ]],
                onLoadSuccess: function (data) {
                    if (!data.rows) {
                        var body = $(this).data().datagrid.dc.body2;
                        body.find('table tbody').append('<tr><td width="' + body.width() + '" style="height: 25px; text-align: center;">没有数据</td></tr>');
                    }
                }
            });
            var p = $('#dgtable').datagrid('getPager');
            $(p).pagination({
                pageSize: 8, //每页显示的记录条数，默认为10  
                pageList: [8, 10, 15, 20], //可以设置每页记录条数的列表  
                onSelectPage: function (pageNumber, pageSize) {
                    $('#dgtable').datagrid('options').url = "/TestingPlan/GetList?pageNumber=" + pageNumber + "&pageSize=" + pageSize;
                    $("#dgtable").datagrid("reload");
                }
            });

            $('#dlg_office').dialog('close');
        });

        //删除
        function Delete(InfoID) {
            if (confirm("确定要删除数据吗？")) {
                $.getJSON("/TestingPlan/Delete/" + InfoID,
                function (data) {
                    alert(data);
                    if (data == "删除成功！") {
                        $('#dgtable').datagrid('reload');
                    }
                });
            }
        }

        //查询
        function click_Search() {

            var txts = $("#txt_Search").val();
            $('#dgtable').datagrid('options').url = "/TestingPlan/GetList?pageNumber=1&pageSize=8&StrSearch=" + txts;
            $("#dgtable").datagrid("reload");
        }

        function click_ViewOffice(_itemId) {
            var url = '@Url.Action("GetFileURLForView", "TestingPlan")' + "?wid=" + _itemId;
            $.getJSON(url, getjsonsucceed);
        }
        function getjsonsucceed(data) {
            $('#dlg_office').dialog('open');
            window.frames["officefrm"].location = '@Url.Action("vpoffice", "Documents")' + "?filename=" + data;
        }
    </script>

    <!--编辑-->
    <script type="text/javascript">
        //添加
        function Add() {
            $('#EditForms').window({ href: '/TestingPlan/TestingPlanEdit?EditType=Add' });
            $('#EditForms').window('refresh');
            $('#EditForms').window('open');
        }

        //弹出编辑页
        function Edit(InfoID) {
            $('#EditForms').window({ href: '/TestingPlan/TestingPlanEdit?EditType=Edit&InfoID=' + InfoID });
            $('#EditForms').window('refresh');
            $('#EditForms').window('open');
        }

        //关闭弹出层
        function Close() {
            $('#EditForms').window('close');
        }

        //保存提示
        function handle(e) {
            if (e == "1") {
                alert("保存成功！");
                $('#EditForms').window('close');
                $('#dgtable').datagrid('reload');
            } else {
                alert("保存失败！");
            }
        }
        function failed(e) {
            alert("保存失败！");
        }
    </script>

    
</head>
<body>
    <!--标题-->
    <table cellpadding="0" cellspacing="0" width="100%" class="HeadTitle">
        <tr>
            <td>当前位置：委托管理<img style="text-align:center;vertical-align:middle;height:10px" src='@Url.Content("~/Content/Images/位置.png")' />检验计划 </td>
        </tr>
    </table>

    <!--数据列表-->
    <div class="divList">
        <table cellpadding="0" cellspacing="0" width="100%" class="WhereTable">
            <tr>
                <td align="right"style="width:70px;">计划名称：</td>
                <td align="left" style="width:160px;" ><input style="border: 1px solid #3496d6;" width="150px" type="text" id="txt_Search" /></td>
                <td width="67px"><a href="javascript:void(0)" onclick="click_Search()"><img height="20px" src="/Content/Images/chaxun.png" /></a></td>
                <td align="left" width="67px">
                @if (Convert.ToBoolean(ViewData["d6ba0daf"]))
                {<a href="javascript:void(0)" onclick="Add()"><img src="/Content/Images/xinzeng.png" height="20px" /></a>}</td>
                <td align="right"></td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="biaoge easyui-datagrid" id="dgtable" width="100%">

        </table>
    </div>

   <!--编辑页-->
   <div id="EditForms" class="easyui-window" title="计划信息" style="width:500px;height:350px;"  data-options="iconCls:'icon-save',modal:true,closed:true,minimizable:false">  
        
   </div>

   <!--阅览OFFICE-->
    <div id="dlg_office" class="easyui-dialog" title="文档预览" data-options="iconCls:'icon-save'" style="width: 1000px; height: 420px; padding: 0px; position: absolute; z-index: 999; left: 5px;">
        <iframe style="overflow: hidden; border: 0; height: 768px; width: 100%;" name="officefrm" src='@Url.Action("vpoffice", "Documents")'></iframe>
    </div>
    <!--End 阅览OFFICE-->
</body>
