@model Model.tb_Detection
@{
    ViewBag.Title = "doDetectionInfo";
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>抽样情况</title>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/default/easyui.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/icon.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/demo.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/uploader/uploadify.css")' />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/Validform/style.css")'  />
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-1.8.2.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/jquery.easyui.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/locale/easyui-lang-zh_CN.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/jquery.uploadify.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/swfobject.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftMvcAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Validform/Validform_v5.3.2_min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*页面控件验证*/
            $("#name").attr("datatype", "*");
            $("#company").attr("datatype", "*");
            $("#telPhone").attr("datatype", "*");
            $("#gist").attr("datatype", "*");
            $("#address").attr("datatype", "*");
            $("#domethod").attr("datatype", "*");
            $("#sampleNum").attr("datatype", "*");
            $("#packaging").attr("datatype", "*");
            $("#detectionDate").attr("datatype", "*");
            $("#detectionUser").attr("datatype", "*");
            $("#uploadfrm").Validform({
                tiptype: 3
            });
            /*结束 页面控件验证*/
            $('#detectionDate').click(function () { WdatePicker() });
        });
    function handle(e) {
        if (e == "1") {
            window.parent.$('#dgtable').datagrid("reload");
            alert("保存成功！");
            $('#dlg').dialog('close');
        } else {
            alert("保存失败！");
        }
    }
    function failed(e) {
        alert("保存失败！");
    }
    </script>
    <style type="text/css">
        .divList {
            position: absolute;
            top: 40px;
            left: 1px;
            z-index: 99;
            width: 1048px;
        }

        a {
            text-decoration: none;
            color: #000;
        }

            a img {
                border: 0;
            }

        .biaoge {
            width: 1040px;
            font-family: '宋体';
            font-size: 12px;
            color: #10607c;
        }

            .biaoge td {
                text-align: center;
                height: 26px;
                vertical-align: middle;
                border: 1px solid #d4d3d3;
            }

        .data_tab02 {
            height: 22px;
            margin: 0px;
            padding-left: 2px;
            background: url(Content/Images/tab_bg02.gif) repeat-x;
        }

            .data_tab02 dd {
                width: 100px;
                height: 22px;
                line-height: 22px;
                float: left;
                text-align: center;
                cursor: pointer;
                margin-right: 2px;
            }

                .data_tab02 dd a {
                    display: block;
                    clear: both;
                    background: url(../../Content/Images/dlbeijing.png);
                    width: 100px;
                    height: 25px;
                    color: #FFFFFF;
                    font-size: 13px;
                }

                    .data_tab02 dd a:hover {
                        color: #ff9c00;
                    }

                    .data_tab02 dd a:focus {
                        color: #ff9c00;
                    }
    </style>
</head>
<body>
    @using (Ajax.BeginForm("doDetectionCU", "Sample", new AjaxOptions { HttpMethod = "Post", OnSuccess = "handle", OnFailure = "failed" }, new { @id = "uploadfrm" }))
    {
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.createDate, new { @id = "createDateE" })
        @Html.HiddenFor(m => m.createUser, new { @id = "createUserE" })
        @Html.HiddenFor(m => m.temp1, new { @id = "temp1E" })
        @Html.HiddenFor(m => m.temp2, new { @id = "temp2E" })
        @Html.HiddenFor(m => m.updateDate, new { @id = "updateDateE" })
        @Html.HiddenFor(m => m.updateUser, new { @id = "updateUserE" })
        @Html.HiddenFor(m => m.sId)
        <table align="left" height="300px" style="font-family: '宋体'; font-size: 12px;">
            <tr>
                <td width="90px" align="right">样品名称：</td>
                <td align="left">@Html.TextBoxFor(m => m.name)</td>
                <td width="90px" align="right">抽样单位：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.company)
                </td>
            </tr>
            <tr>
                <td width="90px" align="right">电话：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.telPhone)
                </td>
                <td width="90px" align="right">抽样依据：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.gist)
                </td>
            </tr>
            <tr>
                <td width="90px" align="right">抽样地点：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.address)
                </td>
                <td width="90px" align="right">抽样方法：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.domethod)
                </td>
            </tr>
            <tr>
                <td width="90px" align="right">样品数量：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.sampleNum)
                </td>
                <td width="90px" align="right">包装方式：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.packging)
                </td>
            </tr>
            <tr>
                <td width="90px" align="right">抽样日期：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.detectionDate)
                </td>
                <td width="90px" align="right">抽样人：</td>
                <td align="left">
                    @Html.TextBoxFor(m => m.detectionUser)
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <a href="javascript:void(0)" onclick="$('#uploadfrm').submit()">
                        <img src="~/Content/Images/baocun.png" height="20px" /></a>
                    <a href="javascript:void(0)" onclick="window.parent.$('#dlg').dialog('close')">
                        <img src="~/Content/Images/quxiao.png" height="20px" />
                    </a></td>
            </tr>
        </table>
    }
</body>
