@model Model.EntrustManage.E_tb_EntrustMeterage
@{
    ViewBag.Title = "EntrustMeterageList";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/default/easyui.css")'/>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/icon.css")'/>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/demo.css")'/>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/uploader/uploadify.css")' />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/Validform/style.css")'  />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/Validform/style.css")'  />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/XINDECSS/MainStyle.css")'/>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-1.8.2.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/jquery.easyui.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/locale/easyui-lang-zh_CN.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/jquery.uploadify.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/swfobject.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftMvcAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Validform/Validform_v5.3.2_min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")'></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dgtable').datagrid({
                url: "/EntrustMeterage/GetList?pageNumber=1&pageSize=8",
                pagination: true, //分页控件  
                singleSelect: true, //是否单选
                rownumbers: true,
                columns: [[
//                    { field: 'MeterageID', title: '编号', align: 'center' },
                    { field: 'TaskNo', title: '任务单号', align: 'center' },
                    { field: 'SampleName', title: '样品名称', align: 'center' },
                    { field: 'EntrustCompany', title: '委托单位', align: 'center' },
                    { field: 'SubmissionTime', title: '送检日期', align: 'center' },
                    { field: 'ProjectName', title: '计量项目', align: 'center' },
                    { field: 'PersonnelName', title: '检验人', align: 'center' },
                    { field: 'MeterageReport', title: '计量报告', align: 'center' },
                    {
                        field: 'IsComplete', title: '是否完成', align: 'center',
                        formatter: function (value, row, index) {
                            return row.IsComplete == 1 ? "完成" : "未完成";
                        }
                    },
                    {
                        field: 'Edit', title: '编辑', align: 'center',
                        formatter: function (value, row, index) {
                            return "<a href='javascript:void(0)' onclick='Edit(" + row.MeterageID + ")' ><img width='18px' height='18' alt='修改' src='/Content/Images/xiugai.png' /></a>";
                        }
                    },
                    {
                        field: 'View', title: '文档预览', align: 'center',
                        formatter: function (value, row, index) {
                            return row.FilePath != "" ? "<a href='javascript:void(0)' onclick=\"click_ViewOffice(" + row.MeterageID + ")\"><img width='18px' height='18' alt='阅览' src='/Content/Images/xiazai.png' /></a>" : "";
                        }
                    },
                    {
                        field: 'Delete', title: '删除', align: 'center',
                        formatter: function (value, row, index) {
                            var linkstr = "<a href=\"javascript:void(0)\" onclick=\"Delete(" + row.MeterageID + ")\" ><img width='18px' height='18' alt=\"删除\" src=\"/Content/Images/shanchu.png\" /></a>";
                            return linkstr;
                        }
                    }
                ]],
                onLoadSuccess: function (data) {
                    if (!data.rows) {
                        var body = $(this).data().datagrid.dc.body2;
                        body.find('table tbody').append('<tr><td width="' + body.width() + '" style="height: 25px; text-align: center;">没有数据</td></tr>');
                    }
                }
            });
            var p = $('#dgtable').datagrid('getPager');
            $(p).pagination({
                pageSize: 8, //每页显示的记录条数，默认为10  
                pageList: [8, 10, 15, 20], //可以设置每页记录条数的列表  
                onSelectPage: function (pageNumber, pageSize) {
                    $('#dgtable').datagrid('options').url = "/EntrustMeterage/GetList?pageNumber=" + pageNumber + "&pageSize=" + pageSize;
                    $("#dgtable").datagrid("reload");
                }
            });

             //添加文本框点击事件
            $("#ddl_search").change(function () {
                for (var i = 1; i <= 5; i++) {
                    if ($(this).val() != i) {
                        $('#Input_Search_'+i).hide();
                    }
                }
                $('#Input_Search_' + $(this).val()).show();
            });

            $('#dlg_office').dialog('close');
        });

        //删除
        function Delete(InfoID) {
            if (confirm("确定要删除数据吗？")) {
                $.getJSON("/EntrustMeterage/Delete/" + InfoID,
                function (data) {
                    alert(data);
                    if (data == "删除成功！") {
                        $('#dgtable').datagrid('reload');
                    }
                });
            }
        }

        //查询
        function click_Search() {
            var EntrustCompany = $("#Input_Search_1").val();
            var SampleName= $("#Input_Search_2").val();
            var ProjectID= $("#Input_Search_3").val();
            var TaskNo= $("#Input_Search_4").val();
            var SubmissionTimeStart= $("#txt_StartTime").val();
            var SubmissionTimeEnd= $("#txt_EndTime").val();

            var strurl = "/EntrustMeterage/GetList?pageNumber=1&pageSize=8";
            var WhereTypeID=$("#ddl_search").val();
            if (WhereTypeID == 1) {
                strurl += "&EntrustCompany=" + EntrustCompany
            }
            else if (WhereTypeID == 2) {
                strurl += "&SampleName=" + SampleName
            }
            else if (WhereTypeID == 3) {
                strurl += "&ProjectID=" + ProjectID
            }
            else if (WhereTypeID == 4) {
                strurl += "&TaskNo=" + TaskNo
            }
            else if (WhereTypeID == 5) {
                strurl += "&SubmissionTimeStart=" + SubmissionTimeStart
                strurl += "&SubmissionTimeEnd=" + SubmissionTimeEnd
            }
            $('#dgtable').datagrid('options').url = strurl;
            $("#dgtable").datagrid("reload");
        }

        function click_ViewOffice(_itemId) {
            var url = '@Url.Action("GetFileURLForView", "EntrustMeterage")' + "?id=" + _itemId;
            $.getJSON(url, getjsonsucceed);
        }
        function getjsonsucceed(data) {
            $('#dlg_office').dialog('open');
            window.frames["officefrm"].location = '@Url.Action("vpoffice", "Documents")' + "?filename=" + data;
        }
    </script>

    <!--编辑-->
    <script type="text/javascript">
        //添加
        function Add() {
            $('#EditForms').window({ href: '/EntrustMeterage/EntrustMeterageEdit?EditType=Add' });
            $('#EditForms').window('refresh');
            $('#EditForms').window('open');
        }

        //弹出编辑页
        function Edit(InfoID) {
            $('#EditForms').window({ href: '/EntrustMeterage/EntrustMeterageEdit?EditType=Edit&InfoID=' + InfoID });
            $('#EditForms').window('refresh');
            $('#EditForms').window('open');
        }

        //关闭弹出层
        function Close() {
            $('#EditForms').window('close');
        }

        //保存提示
        function handle(e) {
            if (e == "1") {
                alert("保存成功！");
                $('#EditForms').window('close');
                $('#dgtable').datagrid('reload');
            } else {
                alert("保存失败！");
            }
        }
        function failed(e) {
            alert("保存失败！");
        }
    </script>

    
</head>
<body>
    <!--标题-->
    <table cellpadding="0" cellspacing="0" width="100%" class="HeadTitle">
        <tr>
            <td>当前位置：委托管理<img style="text-align:center;vertical-align:middle;height:10px" src='@Url.Content("~/Content/Images/位置.png")' />委托计量 </td>
        </tr>
    </table>

    <!--数据列表-->
    <div class="divList">
        <table cellpadding="0" cellspacing="0" width="100%" class="WhereTable">
            <tr>
                <td width="130px">按：      
                        <select id="ddl_search">
                            <option value="1">委托单位</option>
                            <option value="2">样品名称</option>
                            <option value="3">计量项目</option>
                            <option value="4">任务单号</option>
                            <option value="5">检验日期</option>
                        </select>
                </td>
                <td width="160px">
                    <input style="border: 1px solid #3496d6;" width="150px" type="text" id="Input_Search_1" />
                    <input style="border: 1px solid #3496d6; display:none;" width="150px" type="text" id="Input_Search_2" />
                    @Html.DropDownListFor(m => m.ProjectID, ViewData["ProjectList"] as SelectList, new { @id = "Input_Search_3", @style = "display:none" })
                    <input style="border: 1px solid #3496d6; display:none;" width="150px" type="text" id="Input_Search_4" />
                    <table id="Input_Search_5" style="display:none;"><tr>
                    <td><input style="border: 1px solid #3496d6;" width="150px" type="text" id="txt_StartTime" onclick="WdatePicker()" /> </td>
                    <td>至</td>
                    <td><input style="border: 1px solid #3496d6;" width="150px" type="text" id="txt_EndTime"  onclick="WdatePicker()"/></td>
                    </tr></table>
                </td>
                <td width="60px"><a href="javascript:void(0)" onclick="click_Search()"><img height="20px" src="/Content/Images/chaxun.png" /></a></td>
                <td align="left" width="67px"><a href="javascript:void(0)" onclick="Add()"><img src="/Content/Images/xinzeng.png" height="20px" /></a></td>
                <td align="right">&nbsp;&nbsp;</td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="biaoge easyui-datagrid" id="dgtable" width="100%">

        </table>
    </div>

   <!--编辑页-->
   <div id="EditForms" class="easyui-window" title="委托计量信息" style="width:500px;height:220px;"  data-options="iconCls:'icon-save',modal:true,closed:true,minimizable:false">  
        
   </div>

   <!--阅览OFFICE-->
    <div id="dlg_office" class="easyui-dialog" title="文档预览" data-options="iconCls:'icon-save'" style="width: 1000px; height: 420px; padding: 0px; position: absolute; z-index: 999; left: 5px;">
        <iframe style="overflow: hidden; border: 0; height: 768px; width: 100%;" name="officefrm" src='@Url.Action("vpoffice", "Documents")'></iframe>
    </div>
    <!--End 阅览OFFICE-->
</body>
