@model Model.tb_BookBorrow
@{
    ViewBag.Title = "doBorrowManageInfo";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>图书管理-新增</title>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/default/easyui.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/themes/icon.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/jquery-easyui/demo.css")'>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/uploader/uploadify.css")' />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/Validform/style.css")'  />
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-1.8.2.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/jquery.easyui.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-easyui/locale/easyui-lang-zh_CN.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/jquery.uploadify.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/uploader/swfobject.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/MicrosoftMvcAjax.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Validform/Validform_v5.3.2_min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#temp1').click(function () { WdatePicker({ maxDate: '#F{$dp.$D(\'temp2\')||\'2100-10-01\'}' }) });
            $('#temp2').click(function () { WdatePicker({ minDate: '#F{$dp.$D(\'temp1\')}', maxDate: '2100-10-01' }) });
            /*页面控件验证*/
            $("#bookIdN").attr("datatype", "*");
            $("#temp1").attr("datatype", "*");
            $("#temp2").attr("datatype", "*");
            $("#nameN").attr("datatype", "*");
            $("#frmNew").Validform({
                tiptype: 3
            });
            /*结束 页面控件验证*/
            $('#ddl_book').combogrid({
                delay: 500,
                panelWidth: 350,
                mode: 'remote',
                idField: 'id',
                textField: 'name',
                url: '/Book/GetBookListForDropDownList',
                onSelect: function (rowIndex, rowData) {
                    $('#statusN').html(rowData.zhuangtai);
                    $('#repertoryN').html(rowData.repertory);
                    $('#type1N').html(rowData.zhongshu);
                    $('#type2N').html(rowData.leibie);
                    $('#authorN').html(rowData.author);
                    $('#pressN').html(rowData.press);
                    $('#bookIdN').val(rowData.id);
                    $('#codeN').val(rowData.code);
                },
                columns: [[
                    { field: 'code', title: '编号', width: 100 },
                    { field: 'name', title: '名称', width: 250 }
                ]]
            });
        });
        function handle(e) {
            if (e == "1") {
                alert("保存成功！");
                $('#dlg').dialog('close');
            } else {
                alert("保存失败！");
            }
        }
        function failed(e) {
            alert("保存失败！");
        }
    </script>
    <style type="text/css">
        .divList {
            position: absolute;
            top: 40px;
            left: 1px;
            z-index: 99;
            width: 1048px;
        }

        a {
            text-decoration: none;
            color: #000;
        }

            a img {
                border: 0;
            }

        .biaoge {
            width: 1040px;
            font-family: '宋体';
            font-size: 12px;
            color: #10607c;
        }

            .biaoge td {
                text-align: center;
                height: 26px;
                vertical-align: middle;
                border: 1px solid #d4d3d3;
            }

        .data_tab02 {
            height: 22px;
            margin: 0px;
            padding-left: 2px;
            background: url(Content/Images/tab_bg02.gif) repeat-x;
        }

            .data_tab02 dd {
                width: 100px;
                height: 22px;
                line-height: 22px;
                float: left;
                text-align: center;
                cursor: pointer;
                margin-right: 2px;
            }

                .data_tab02 dd a {
                    display: block;
                    clear: both;
                    background: url(../../Content/Images/dlbeijing.png);
                    width: 100px;
                    height: 25px;
                    color: #FFFFFF;
                    font-size: 13px;
                }

                    .data_tab02 dd a:hover {
                        color: #ff9c00;
                    }

                    .data_tab02 dd a:focus {
                        color: #ff9c00;
                    }
    </style>
</head>
<body>
    <div style="background: #faf1e8; height: 30px; width: 100%; top: 1px; position: absolute; z-index: 99; left: 1px;">
        <table align="left" width="100%" height="27px">
            <tr>
                <td width="1029" style="font-family: '宋体'; font-size: 12px; color: #10607c;">当前位置：图书资料管理<img style="text-align:center;vertical-align:middle;height:10px" src='@Url.Content("~/Content/Images/位置.png")' />图书资料借阅<img style="text-align:center;vertical-align:middle;height:10px" src='@Url.Content("~/Content/Images/位置.png")' />新增\编辑 </td>
            </tr>
        </table>
    </div>

    <div class="divList">
    @using (Ajax.BeginForm("doBorrowCU", "Book", new AjaxOptions { HttpMethod = "Post", OnSuccess = "handle", OnFailure = "failed" }, new { @id = "frmNew" }))
        {
            <table width="688px" align="left" height="300px">
                <tr>
                    <td width="120px" align="right">选择图书：</td>
                    <td align="left" colspan="3">
                        <select id="ddl_book" style="width: 300px"></select>
                        @Html.HiddenFor(m => m.bookId, new { @id = "bookIdN" })
                    </td>
                </tr>
                <tr>
                    <td width="120px" align="right" valign="middle">状态：</td>
                    <td align="left" id="statusN"></td>
                    <td width="120px" align="right">库存量：</td>
                    <td align="left" id="repertoryN"></td>
                </tr>
                <tr>
                    <td width="120px" align="right">种属：</td>
                    <td width="80" align="left" id="type1N"></td>
                    <td width="120px" align="right">类别：</td>
                    <td width="80" align="left" id="type2N"></td>
                </tr>
                <tr>
                    <td width="120px" align="right">作者：</td>
                    <td width="80" align="left" id="authorN"></td>
                    <td width="120px" align="right">出版社或出处：</td>
                    <td width="80" align="left" id="pressN"></td>
                </tr>
                <tr>
                    <td width="120px" align="right">借阅人：</td>
                    <td width="80" align="left">
                        @Html.TextBoxFor(m => m.name, new { @id = "nameN" })
                    </td>
                    <td width="120px" align="right">联系电话：</td>
                    <td width="80" align="left">@Html.TextBoxFor(m => m.phone)</td>
                </tr>
                <tr>
                    <td width="120px" align="right">借阅人单位：</td>
                    <td width="80" align="left">
                        @Html.TextBoxFor(m => m.company)                    </td>
                    <td width="120px" align="right"></td>
                    <td width="80" align="left"></td>
                </tr>
                <tr>
                    <td width="120px" align="right">借阅数：</td>
                    <td width="80" align="left">
                        @Html.TextBoxFor(m => m.borrowNum)                    </td>
                    <td width="120px" align="right"></td>
                    <td width="80" align="left"></td>
                </tr>
                <tr>
                    <td width="120px" align="right">借阅天数：</td>
                    <td align="left" colspan="3">
                    @Html.TextBoxFor(m => m.temp1, new {@id="temp1" }) 到 @Html.TextBoxFor(m => m.temp2,new {@id="temp2" })</td>
                </tr>
                <tr>
                    <td width="120px" align="right" valign="top">备注：</td>
                    <td colspan="3" align="left" valign="top">
                        @Html.TextAreaFor(m => m.remark, new { @style = "height:100px;width:430px" })                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <a href="javascript:void(0)" onclick="$('#frmNew').submit()">
                            <img src="~/Content/Images/baocun.png" height="20px" /></a>
                        <a href="javascript:void(0)" onclick="history.go(-1)">
                            <img src="~/Content/Images/fanhui.png" height="20px" />
                        </a></td>
                </tr>
            </table>
        }
        </div>
</body>
